{% extends 'myapp/base.html' %}
{% load static %}
{% block content %}
<div class="container mt-5">
    <h1 class="text-warning mb-5 border-bottom">EDUCATION</h1>

    <div class="row text-white text-center mb-5">
        <div class="col-sm-4">
            <i class="fas fa-search-dollar fa-2x mb-3" style="color:greenyellow;"></i>
            <h3>MATRICULATION</h3>
            <P style="font-size:15px;">Govt. high school upper hareta(H.P)</P>
        </div>
        <div class="col-sm-4">
            <i class="fas fa-palette fa-2x mb-3 i-color" style="color:greenyellow;"></i>
            <h3>SECONDARY</h3>
            <P style="font-size:15px;">National,Institute of open schooling</P>
        </div>
        <div class="col-sm-4">
            <i class="fa-solid fa-code fa-2x mb-3 i-color" style="color:greenyellow;"></i>
            <h3>GRADUATION</h3>
            <P style="font-size:15px;">Himachal pradesh university,Shimla(H.P)</P>
        </div>
        <div class="col-sm-4">
            <i class="fab fa-apple fa-2x mb-3 i-color" style="color:greenyellow;"></i>
            <h3>Diploma in Software Engineering</h3>
            <P style="font-size:15px;">GNIIT in software Engineering(3 years) ,from NIIT South Ex. ,New Delhi</P>
        </div>
        <div class="col-sm-4">
            <i class="fas fa-ad fa-2x mb-3 i-color" style="color:greenyellow;"></i>
            <h3>DBMS</h3>
            <P style="font-size:15px;">ORACLE 10g,NIIT HMR(H.P)</P>
        </div>
        <div class="col-sm-4">
            <i class="fa-solid fa-pencil-alt fa-2x mb-3 i-color" style="color:greenyellow;"></i>
            <h3>PYTHON</h3>
            <P style="font-size:15px;">3 months Python trainee with Django in Think Next Pvt.Ltd(Mohali) </P>
        </div>
        <dIV class="col-sm-4">
            <i class="fa-solid fa-pencil-alt fa-2x mb-3 i-color" style="color:greenyellow;"></i>
            <h3>PROJECTS</h3>
            <P style="font-size:15px;">Making Calculator on GUI based,blog making with DJANGO,my resume </P>
        </dIV>
    </div>
</div>
{% endblock content %}